{% extends "base.html" %}

{% block bread %}
    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
    <li class="breadcrumb-item active" aria-current="page">Moje studia</li>
{% endblock %}

{% block main-subtitle %}Moje studia{% endblock %}

{% block all-content %}
    
    <div class="mb-5">
        <h2>Moje studia</h2>
        <table class="table table-condensed">
            <colgroup>
                <col class="table-info-type"></col>
                <col></col>
            </colgroup>
            <tr>
                <th>Punkty ECTS uzyskane do końca poprzedniego semestru</th>
                <td>{{ user.student.ects }}</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>{{ user.student.program }}</td>
            </tr>
            <tr>
                <th>Semestr studiów</th>
                <td>{{ user.student.semestr }}</td>
            </tr>
            <tr>
                <th>Aktualny semestr</th>
                <td>{{ semester }}</td>
            </tr>
        </table>
    </div>
    <select style="margin-bottom:20px; width: 35%; min-width: 210px;" id="program" class="custom-select" v-model="selected" onchange="location = `?program=${JSON.parse(this.value).program}&year=${JSON.parse(this.value).year}`">
        {% for program, value in picker_data.items %}
            {% for year in value.years %}
                <option value='{"program": {{value.id}}, "year":{{year}}}'
                    {% if not request.GET.year and not request.GET.program and program == request.user.student.program and year == proper_year or request.GET.year == year and request.GET.program == value.id %}selected="selected"{% endif %}>
                    {{ program }} {{ year }}
                </option>
            {% endfor %}
        {% endfor %}
    </select>
     
    <div class="mb-5">
        <h2>Wymagania</h2>
        <table class="table table-condensed">
            <colgroup>
                <col class="table-info-type"></col>
                <col></col>
            </colgroup>
            {% for req in requirements %}
            <tr>
                <th>{{ req.description }}</th>
                {% if req.groupBy %}
                    {% if req.aggreate == sum %}
                        <td>
                            {% for tag,points in req.zip %}
                                {% if req.sum > points %}
                                    <p>
                                        <span class="badge badge-danger mr-2">{{ tag }}</span>
                                     </p>
                                {% else %}
                                    <p>
                                        <span class="badge badge-success mr-2">{{ tag }}</span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for points in req.user_points %}
                                <p>
                                    {{ points }} / {{ req.sum }}
                                </p>
                            {% endfor %}
                        </td>
                    {% endif %}
                {% elif req.sum %}
                    {% if req.filter.tag %}
                        <td>
                            {% for tag in req.filter.tag %}
                                <p>
                                    <span class="badge badge-success mr-2">{{ tag }}</span>
                                </p>
                            {% endfor %}
                        </td>
                    {% elif req.filter.effect %}
                        <td>
                            {% for effect in req.filter.effect %}
                                <p>
                                    <span class="badge badge-info mr-2">{{ effect }}</span>
                                </p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ req.user_points }} / {{ req.sum }}</td>
                {% else %}
                    {% if req.filter.tag %}
                        <td>
                            {% for tag in req.filter.tag %}
                                <p>
                                    {% if req.passed %}
                                        <span class="badge badge-success mr-2">{{ tag }}</span>
                                    {% else %}
                                        <span class="badge badge-danger mr-2">{{ tag }}</span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </td>
                    {% elif req.filter.effect %}
                        <td>
                            {% for effect in req.filter.effect %}
                                <p>
                                    {% if req.passed %}
                                        <span class="badge badge-info mr-2">{{ effect }}</span>
                                    {% else %}
                                        <span class="badge badge-danger mr-2">{{ effect }}</span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        {% if not req.filter.effect and not req.filter.tag %}
                            {% if req.passed %}
                                <i class="fas fa-check check green"></i>
                            {% else %}
                                <i class="fas fa-times check red"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    
{% endblock %}
