{% extends "statistics/base.html" %}

{% load filters %}
{% load course_types %}

{% block statistics-overloads-active %}active{% endblock %}

{% block statistics-content %}
{% load render_bundle from webpack_loader %}

{% render_bundle 'records-sorttable-component' %}

<div class="table-responsive">

    {% regroup groups by course as courses_list %}

    <table id="mytab" class="table table-striped sortable">
        <thead class="text-muted">
            <tr>
            	<th scope="col">Przedmiot</th>
                <th scope="col">Prowadzący</th>
                <th scope="col">Typ</th>
                <th scope="col">Miejsca</th>
                <th scope="col">Zapisani</th>
                <th scope="col">Kolejka</th>
                <th scope="col">Niezapisani</th>
                <th scope="col">Przypięci</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course, groups in courses_list %}
            
 
                {% for group in groups %}
                <tr id='result_tr'>
                        <td> {{ course.name }} </td>                   
                        <td>{{group.teacher}}</td>
                        <td>{{ group.get_type_display }}</td>
                        <td>
                            {{ group.limit }}
                            {% for gs in group.guaranteed_spots.all %}
                                + 
                                <span title="Miejsca gwarantowane dla grupy {{gs.role.name}}.">
                                    {{ gs.limit }}
                                </span>
                            {% endfor %}
                        </td>
                        <td>{{ group.enrolled }}</td>
                        <td>{{ group.queued }}</td>
                        
                     <td>
                        {% with waiting_course=waiting_students|lookup:course.id %}
                            {% for course_type in waiting_course reversed %}
                            {% if forloop.first %}
                                        {{ waiting_course|lookup:course_type}}
                            {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>
                                              
                        <td>{{ group.pinned }}</td>
                        <td>
                            <a class="badge badge-sm badge-primary"
                                href="{% url 'admin:courses_group_change' group.id %}"
                                target="_blank">
                                Admin <i class="fas fas-sm fa-external-link-alt"></i>
                            </a>
                        </td>
                    </tr>
           
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% render_bundle 'records-filter-component' %}

{% endblock %}

