[Unit]
Description=Run database backup

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/db_backups/
ExecStart=/home/vagrant/env3/bin/python3 db_backup.py
Type=simple

