@import "~bootstrap/scss/bootstrap";

@media screen and (min-width: 480px) {
    .defect-image {
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .defect-image {
        max-width: 100%;
    }
}

.defect-image {
    margin-left: auto;
    margin-right: auto;
}

