{% extends "defectBase.html" %}

{% load crispy_forms_tags %}

{% block all-content %}
<div id="defect-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            {% if edit %}
                Edycja usterki
            {% else %}
                Dodawanie nowej usterki
            {% endif %}
        </h1>
    </div>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="upload_photo" accept="image/*">
        {% crispy form %}
    </form>
</div>
{% endblock %}