{% extends "defectBase.html" %}

{% load crispy_forms_tags %}

{% block all-content %}
<div id="defect-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            Dodaj zdjęcie
        </h1>
    </div>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>

    <!--Django Model-->
    <h2>Zdjęcia</h2>
    <div>
        {% for p in photos %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <img src="{{ p.image.url }}" class="card-img-top">
            </div>
        </div>
        {% empty %}
        <p>Żadne zdjęcie nie zostało jeszcze dodane.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}