{% extends "defectBase.html" %}

{% load crispy_forms_tags %}

{% block all-content %}
<div id="defect-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            Dodawanie nowej usterki
        </h1>
    </div>

    <form action="" method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}

        <table class="table">
            {{ photos.management_form }}

            {% for form in photos.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add photo',
        deleteText: 'remove',
        prefix: 'image_set'
    });
</script>

{% endblock %}