{% extends "defectBase.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load crispy_forms_tags %}

{% block js %}
{% render_bundle "defect-form" %}
{% endblock %}

{% block all-content %}
<div id="defect-root">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            Dodawanie nowej usterki
        </h1>
    </div>

    <input id="extra-images-number" class="d-none" value="{{ extra_images_number }}">
    <form action="" method="POST" class="post-form" enctype="multipart/form-data" id="main-form">
        {% csrf_token %}
        {% crispy form %}

        <div id="term-formset" class="mb-5">
            {{ formset.management_form }}
            {% for image_form in formset %}
                {% crispy image_form %}
            {% endfor %}
            <button class="btn btn-primary" id="new-image-form">Dodaj nowe zdjęcie</button>
        </div>

        <hr>
        <button type="submit" class="save btn btn-success mt-3" id="save-defect">Zapisz</button>
    </form>
</div>

{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'schedule-reservation-widget' %} <!-- TODO change this -->
{% endblock %}