{% extends "defectBase.html" %}

{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block bread %}
    <li class="breadcrumb-item">
        <a href="{% url "main-page" %}">Strona główna</a>
    </li>

    <li class="breadcrumb-item active">
        Usterki
    </li>
{% endblock %}

{% block all-content %}

    {{ visibleDefects|json_script:"defect-data" }}

    <form method="post" id="action-form">
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="d-inline-block">
                Usterki
            </h1>
            <div>
            <a href="{% url 'defects:new' %}" class="btn btn-primary" role="button">Dodaj nową usterkę</a>
            <input type="submit" name="print" id="print-form-button" class="btn btn-primary" value="Drukuj">
            <input type="submit" name="delete" id="delete-form-button" class="btn btn-primary" value="Usuń">
            <input type="submit" name="done" id="done-form-button" class="btn btn-primary" value="Ustaw jako zrobione">
            <input type="hidden" name="defects_ids" id="defects_ids" value="">
            <input type="hidden" name="if_form_empty" id="if_form_empty" value="0">
            </div>
        </div>
    </form>


        <p class="row justify-content-center">

        <div id="defects-filter"></div>

        <p class="row justify-content-center">

        <div id="defects-list"></div>


    <script>
         function prepareForm() {
             let selected
             if($('tr.selected').length == 0){
                $("#if_form_empty").val("1")
                 selected = $('tbody tr').map(function () {
                     return this.id
                 }).toArray()
             }
             else {
                 selected = $('tbody tr.selected').map(function () {
                     return this.id
                 }).toArray()
             }
             $("#defects_ids").val(selected.join(';'))
         }

         $("#action-form").on("submit", prepareForm)
    </script>
{% endblock %}

{% block rendered_bundles %}
    {% render_bundle 'defect-widget' %}
{% endblock %}