{% extends "defectBase.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block rendered_bundles %}
    {% render_bundle "defect-style" %}
{% endblock %}

{% block js %}
    {% render_bundle "show-defect" %}
{% endblock %}

{% block main-subtitle %}System raportowania usterek{% endblock %}


{% block all-content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            {{ defect.name }}
        </h1>
        <div class="ml-2 d-flex align-items-center justify-content-end flex-wrap">
            <div class="d-inline-block mb-3 ml-1">
                <a class="btn btn-sm btn-outline-info" href="{% url 'defects:edit_defect' defect.id %}">
                    Edytuj
                </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-md-responsive d-print-none" id="table-info">
        <colgroup>
            <col class="table-info-type"></col>
        </colgroup>
        <tbody>
        <tr>
            <th scope="row" style="width: 50%">Miejsce</th>
            <td>
                {{ defect.place }}
            </td>
        </tr>
        <tr>
            <th scope="row">Zgłoszone przez</th>
            <td>{% if defect.reporter %}
                {{ defect.reporter }}
            {% else %}
                Brak
            {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Stan</th>
            <td>
                {{ defect.get_state_display }}
            </td>
        </tr>
        <tr>
            <th scope="row">Data dodania</th>
            <td>{{ defect.creation_date }}</td>
        </tr>
        <tr>
            <th scope="row">Data aktualizacji</th>
            <td>{{ defect.last_modification }}</td>
        </tr>
        </tbody>
    </table>
    <h2>Opis usterki</h2>
    {{ defect.description }}

    <hr>

    <div class="container-fluid">
        <div class="row">
            {% for image_url in image_urls %}
                <div class="col-md-3 pop center-block">
                    <img class="img-thumbnail center-block" src={{ image_url }} >
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0">
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            style="padding-right: 3px"
                    >
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <img src="" class="imagepreview img-responsive" style="width: 100%;" >
                </div>
            </div>
        </div>
    </div>

{% endblock %}